<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #eee;
            position: relative;
            height: 100%;
        }

        #container {
            width: 350px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .signin-form {
            width: 100%;
            margin: 0 auto;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            position: absolute;
            top: 40%;
        }

        .signin-form input {
            text-indent: 15px;
            width: 100%;
            border: 1px solid #ccc;
            line-height: 32px;
            height: 32px;
            border-radius: 16px;
            margin-bottom: 15px;
            outline: none;
            font-size: 14px
        }

        .signin-form .submit-button {
            background: #39e;
            border: 1px solid #39e;
            color: #fff;
        }

        input:-webkit-autofill {
            border: 1px solid #CCC !important;
        }

        .signin-form a {
            display: inline-block;
            text-decoration: none;
            background-color: #39e;
            color: #fff;
            width: 100%;
            line-height: 30px;
            border-radius: 15px;
            font-size: 14px;
            text-align: center;
            margin-bottom: 15px;
        }
    </style>
</head>

<body>

        <div id="container">
            <form action="/signin" method="post" class="signin-form">
                <div>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div>
                    <input type="submit" value="Sign in" class="submit-button">
                </div>

                <a href="/oauth/facebook">Sign in with Facebook</a>
                <a href="/oauth/twitter">Sign in with Twitter</a>
                <a href="/oauth/google">Sign in with Google</a>
            </form>

        </div>
</body>

</html>