<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #eee;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #container {
        text-align: center;
    }

    #container a {
        display: inline-block;
        text-decoration: none;
        background-color: #39e;
        color: #fff;
        width: 120px;
        line-height: 30px;
        border-radius: 15px;
    }
</style>

<body>
    <div id="container">
        <!-- <section ng-include="'/core/views/core.client.view.html'"></section> -->
        <section ng-view></section>
    </div>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>
    <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <!--core module-->
    <script type="text/javascript" src="/core/core.client.module.js"></script>
    <script type="text/javascript" src="/core/controllers/core.client.controller.js"></script>
    <script type="text/javascript" src="/core/config/core.client.routes.js"></script>

    <!--users module-->
    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

    <!--Bootstrap AngularJS Application-->
    <script type="text/javascript" src="/application.js"></script>
</body>

</html>